.container_FormTwoForgot {
  p {
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 0;
  }
  .container_FormTwoForgot_form {
    margin: 15px 75px;
    input {
      padding: 3px 3px;
      outline: none;
    }
  }

  .container_FormTwoForgot_form1 {
    margin: 15px 65px;
    input {
      padding: 3px 3px;
      outline: none;
    }
  }

  .btnloadding{
      margin-top: 8px;
      padding: 0px 20px;
      margin-left: 50%;
      transform: translateX(-50%);
      &:hover{
          background-color: #1976d2;
          color: #fff;
      }
  }
}
